@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');


* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {

    margin: 0;
    font-size: 1.6rem;
    font-family: 'Barlow Condensed', sans-serif;

}

#header-up {
    background-image: url("images/panorama-rtanj.jpg");
    background-size: cover;
    background-position: center;
}

header {
    
    margin: 0;
    text-align: center;

}

header h1 {
    font-size: 3rem;
    padding: 30px;
    margin: 0;
}

header p {
    padding: 10px;
    margin-top: 0px;
    /*margin-bottom: 40px;*/
}

nav {
    margin: 0;
}

nav ul {
    display:flex;

    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;

}


li a {
    justify-content: start;
    display: block;

    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {

    background-color: #555;
    color: white;

}



main {
    display: flex;
    align-items: stretch;
}


main section {
    
    flex-basis: 75%;
}

main section article {
    background-color: white;
    padding: 15px;
    margin: 0;
}

main aside {
    /* display: inline-block; */
    flex-basis: 25%;
    background-color: gray;
    
}

main aside div {
    
    padding: 15px;
    margin: 0;
}

img {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #888;
    padding: 20px;
    margin: 0;
}





@media screen and (max-width: 700px) {

    main {
        flex-direction: column;
    }

      

    nav ul {

        flex-direction: column;

    }

    

}